%ul.navbar
  %li.headline	
    %img(src="../images/jpdcom.png" alt="image: jpd.com logo")
  %li.other
    %a(href="../index.html") Home 
  %li.other 
    %a(href="index.html") Research 
  %li
    %a(href="../complexable.html") Perplexinomica
  %li.other
    %a(href="vertex.html") Algorithms
  %li.other
    %a(href="ales.html") Simulation  

