$block-color: #f1f5f9
$page-back: #000000
$section-color: #ffffff
$full-column: 726px
$side-column: 263px
$side-column-image: "../images/cuber.png"

body
  padding-left: 0px
  padding-right: 0px
  padding-bottom: 0px
  font:
    family: Georgia, "Times New Roman", Times, serif
    size: medium 
  background-color: $page-back

div.absolutist
  width: 999px
  position: relative
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  background: $section-color
  padding-left: 0px

div.column0
  width: 100%
  background: url(../images/georgiapowerviews.png) no-repeat top #333
  height: 100px

div.column1
  width: $full-column
  position: relative
  float: left
  background: url(../images/fire.png) no-repeat top left $section-color
  background-position: 0px -100px
  padding: 0px
  border-right: solid $page-back 10px

div.column2
  clear: none
  width: $side-column
  position: relative
  float: right
  background: url($side-column-image) no-repeat top right $section-color

div.column3
  clear: left
  width: $full-column
  position: relative
  float: left
  height: 100px
  background: url(../images/cube_short.png) no-repeat bottom left $section-color
  border-right: solid 10px

div.space
  height: 10px
  width: 100%
  clear: both
  position: relative
  background: $page-back

div.section
  clear: both
  padding-left: 0px
  width: 100%
  position: relative
  float: left
  
div.title
  padding-top: 10px
  padding-bottom: 10px
  width: 22%
  float: left
  position: relative
  background: $section-color
  p
    text-align: right

div.nameplate
  clear: both
  position: relative
  background: url(../images/cube.png) no-repeat top left
  width: 100%
  float: left

  .when 
    p 
      font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif
      color: #002244
      font-size: xx-large
      margin-top: 6px
      margin-bottom: 6px
    ul
      margin-left: 0px
      padding-left: 0px
      list-style-type: none
      li
        font
          size: small
  .where 
    font-style: oblique
  .subtitle
    margin-top: 0px
    padding: 0px
    p
      font-size: medium

div.workblock
  clear: right
  width: 75%
  position: relative
  float: right
  background: $block-color
  padding-bottom: 10px
  padding-top: 10px

div.topblock
  clear: right
  width: 75%
  position: relative
  float: right
  background: $block-color
  padding-bottom: 0px
  padding-top: 10px

div.midblock
  clear: right
  width: 75%
  position: relative
  float: right
  background: $block-color
  padding-bottom: 0px
  padding-top: 0px

div.lowblock
  clear: right
  width: 75%
  position: relative
  float: right
  background: $block-color
  padding-bottom: 10px
  padding-top: 0px

div.when
  clear: left
  width: 30%
  padding-left: 10%
  float: left
  position: relative
  a
    text-decoration: none
    color: #DD3311
    &:visited
      color: #995353

div.where
  clear: right
  position: relative
  width: 50%
  padding-right: 10%
  float: left
  text-align: right
  span.article-title
    font-weight: bold 
    font-size: 125%
  p
    line-height: normal
  ul
    list-style-type: none
    text-align: right
  a
    text-decoration: none
    color: #000077
    &:visited
      color: #535353

div.what
  border-right: none
  clear: both
  width: 80%
  padding-left: 10%
  float: left
  position: relative
  p
    white-space: normal
    text-justify: distribute
    text-align: justify
  code
    background: $section-color
  ul
    padding-left: 1em
  a
    text-decoration: none
    color: #000077
    &:visited
      color: #535353
  p.more
    text-align: right

div.sidebar
  position: relative
  float: left
  width: $side-column - image-width($side-column-image)
  background: $section-color
  p
    text-align: left
  ul
    text-align: left
    list-style-type: none
    margin-left: 0px
    padding-left: 0px
  li
    text-align: left
    background: $block-color
    padding-left: 20px
    padding-right: 0px
    height: 30px
    border-bottom: 4px $section-color solid
    padding-top: 10px
    a
      text-decoration: none
      color: #004440
      text-transform: capitalize
      &:visited
        color: #8888bb
    &.here
      color: #838383

li.article-list
  font-size: small
