%ul
  %li
    - case locals[:location]
    - when :home
      .here Home
    - else
      %a(href="/index.html") Home
  %li 
    %a(href="/student/index.html") Research
  %li 
    - case locals[:location]
    - when :blog
      .here Perplexinomicon
    - else
      %a(href="/complexable.html") Perplexinomicom
  %li j.paul.daigle[at]gmail.com
  %li 678-379-8466
  %li
    %a(href="http://www.linkedin.com/in/johnpdaigle") 
      %img(src="http://www.linkedin.com/img/webpromo/btn_profile_bluetxt_80x15.gif" 
           width="80" 
           height="15" 
           alt="View John Daigle's profile on LinkedIn")

  %li
    %a(href="https://twitter.com/jpauldaigle" 
       class="twitter-follow-button" 
       data-show-count="false") Follow @jpauldaigle
    %script(src="//platform.twitter.com/widgets.js"
            type="text/javascript")
