%div.headline
  %h1 Welcome 

%p Welcome to the student work site of John P. Daigle.

%p I am a graduate student in computer science at Georgia State University in Atlanta, GA. My main research interest is adaptation. This site is a repository for papers and presentations that I have created, and some of the projects I am working on. More general research work can be found under classwork.

%p I am sometimes asked what kind of tools I use to create the presentations and papers here. I have done my best to create only using open source/open standards based software for everything. The resources page has the details.

%p
  This site views best in a browser that isn't Internet Explorer, such as <a href="http://lynx.browser.org/">Lynx</a>, <a href="http://www.opera.com/">Opera</a>, or <a href="http://www.spreadfirefox.com/">Firefox</a>. Older browsers don't handle transparent .png images very well, so the page logos and other images will look bad.
